{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    
    <div class="article-detail-container">
        
        <h2>{{ article.title }}</h2>
        
        <p class="article-metadata">
            Publicado por <strong>{{ article.author.username }}</strong> 
            el {{ article.publication_date|date:"l, F d, Y" }}
            en la categoría <strong>{{ article.category.name }}</strong>.
        </p>
        
        <div class="article-content">
            <p>{{ article.content|linebreaksbr }}</p>
        </div>
        
        <p class="article-detail-metadata">
            Gracias por leer.
        </p>

    </div> 
    {% endblock %}