{% extends "base.html" %}

{% block title %}Últimos Artículos | ZenBlog{% endblock %}

{% block content %}
    <h2>Últimos Artículos</h2>
    
    <div class="article-grid"> 
        {% for article in object_list %}
            
            <div class="article-summary">
                <h3><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h3>
                <p class="article-metadata">
                    Publicado por {{ article.author.username }} el {{ article.publication_date|date:"F d, Y" }}
                    | Categoría: {{ article.category.name }}
                </p>
                <p>{{ article.content|truncatewords:30 }}</p> 
                <a href="{% url 'article_detail' pk=article.pk %}" class="read-more-link">Leer más &rarr;</a>
            </div>

        {% empty %}
            <p>Aún no hay artículos publicados.</p>
        {% endfor %}
    </div> 
    {% endblock %}